<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>Главная</em>
      </h1>
    {{/link-to}}
    <div class="left links">
		{{#link-to 'scientists' class="button"}}
		    Scientists
		{{/link-to}}

		{{#link-to 'about' class="button"}}
		   About
		{{/link-to}}

		{{#link-to 'contacts' class="button"}}
		    Contacts
		{{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
